@keyframes rgbIsCool {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes rgbAnimation {
  0% {
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.2) 0%,
      rgba(255, 98, 0, 0.2) 10%,
      rgba(255, 226, 0, 0.2) 20%,
      rgba(69, 255, 0, 0.2) 30%,
      rgba(0, 211, 99, 0.2) 40%,
      rgba(53, 167, 160, 0.2) 50%,
      rgba(43, 70, 136, 0.2) 60%,
      rgba(56, 22, 193, 0.2) 70%,
      rgba(183, 15, 212, 0.2) 80%,
      rgba(234, 8, 104, 0.2) 90%,
      rgba(255, 0, 0, 0.2) 100%
    );
  }

  10% {
    background: linear-gradient(
      90deg,
      rgba(234, 8, 104, 0.2) 0%,
      rgba(255, 0, 0, 0.2) 10%,
      rgba(255, 98, 0, 0.2) 20%,
      rgba(255, 226, 0, 0.2) 30%,
      rgba(69, 255, 0, 0.2) 40%,
      rgba(0, 211, 99, 0.2) 50%,
      rgba(53, 167, 160, 0.2) 60%,
      rgba(43, 70, 136, 0.2) 70%,
      rgba(56, 22, 193, 0.2) 80%,
      rgba(183, 15, 212, 0.2) 90%,
      rgba(234, 8, 104, 0.2) 100%
    );
  }

  20% {
    background: linear-gradient(
      90deg,
      rgba(183, 15, 212, 0.2) 0%,
      rgba(234, 8, 104, 0.2) 10%,
      rgba(255, 0, 0, 0.2) 20%,
      rgba(255, 98, 0, 0.2) 30%,
      rgba(255, 226, 0, 0.2) 40%,
      rgba(69, 255, 0, 0.2) 50%,
      rgba(0, 211, 99, 0.2) 60%,
      rgba(53, 167, 160, 0.2) 70%,
      rgba(43, 70, 136, 0.2) 80%,
      rgba(56, 22, 193, 0.2) 90%,
      rgba(183, 15, 212, 0.2) 100%
    );
  }

  30% {
    background: linear-gradient(
      90deg,
      rgba(56, 22, 193, 0.2) 0%,
      rgba(183, 15, 212, 0.2) 10%,
      rgba(234, 8, 104, 0.2) 20%,
      rgba(255, 0, 0, 0.2) 30%,
      rgba(255, 98, 0, 0.2) 40%,
      rgba(255, 226, 0, 0.2) 50%,
      rgba(69, 255, 0, 0.2) 60%,
      rgba(0, 211, 99, 0.2) 70%,
      rgba(53, 167, 160, 0.2) 80%,
      rgba(43, 70, 136, 0.2) 90%,
      rgba(56, 22, 193, 0.2) 100%
    );
  }

  40% {
    background: linear-gradient(
      90deg,
      rgba(43, 70, 136, 0.2) 0%,
      rgba(56, 22, 193, 0.2) 10%,
      rgba(183, 15, 212, 0.2) 20%,
      rgba(234, 8, 104, 0.2) 30%,
      rgba(255, 0, 0, 0.2) 40%,
      rgba(255, 98, 0, 0.2) 50%,
      rgba(255, 226, 0, 0.2) 60%,
      rgba(69, 255, 0, 0.2) 70%,
      rgba(0, 211, 99, 0.2) 80%,
      rgba(53, 167, 160, 0.2) 90%,
      rgba(43, 70, 136, 0.2) 100%
    );
  }

  50% {
    background: linear-gradient(
      90deg,
      rgba(53, 167, 160, 0.2) 0%,
      rgba(43, 70, 136, 0.2) 10%,
      rgba(56, 22, 193, 0.2) 20%,
      rgba(183, 15, 212, 0.2) 30%,
      rgba(234, 8, 104, 0.2) 40%,
      rgba(255, 0, 0, 0.2) 50%,
      rgba(255, 98, 0, 0.2) 60%,
      rgba(255, 226, 0, 0.2) 70%,
      rgba(69, 255, 0, 0.2) 80%,
      rgba(0, 211, 99, 0.2) 90%,
      rgba(53, 167, 160, 0.2) 100%
    );
  }

  60% {
    background: linear-gradient(
      90deg,
      rgba(0, 211, 99, 0.2) 0% rgba(53, 167, 160, 1) 10%,
      rgba(43, 70, 136, 0.2) 20%,
      rgba(56, 22, 193, 0.2) 30%,
      rgba(183, 15, 212, 0.2) 40%,
      rgba(234, 8, 104, 0.2) 50%,
      rgba(255, 0, 0, 0.2) 60%,
      rgba(255, 98, 0, 0.2) 70%,
      rgba(255, 226, 0, 0.2) 80%,
      rgba(69, 255, 0, 0.2) 90%,
      rgba(0, 211, 99, 0.2) 100%
    );
  }

  70% {
    background: linear-gradient(
      90deg,
      rgba(69, 255, 0, 0.2) 0%,
      rgba(0, 211, 99, 0.2) 10%,
      rgba(53, 167, 160, 0.2) 20%,
      rgba(43, 70, 136, 0.2) 30%,
      rgba(56, 22, 193, 0.2) 40%,
      rgba(183, 15, 212, 0.2) 50%,
      rgba(234, 8, 104, 0.2) 60%,
      rgba(255, 0, 0, 0.2) 70%,
      rgba(255, 98, 0, 0.2) 80%,
      rgba(255, 226, 0, 0.2) 90%,
      rgba(69, 255, 0, 0.2) 100%
    );
  }

  80% {
    background: linear-gradient(
      90deg,
      rgba(255, 226, 0, 0.2) 0%,
      rgba(69, 255, 0, 0.2) 10%,
      rgba(0, 211, 99, 0.2) 20%,
      rgba(53, 167, 160, 0.2) 30%,
      rgba(43, 70, 136, 0.2) 40%,
      rgba(56, 22, 193, 0.2) 50%,
      rgba(183, 15, 212, 0.2) 60%,
      rgba(234, 8, 104, 0.2) 70%,
      rgba(255, 0, 0, 0.2) 80%,
      rgba(255, 98, 0, 0.2) 90%,
      rgba(255, 226, 0, 0.2) 100%
    );
  }

  90% {
    background: linear-gradient(
      90deg,
      rgba(255, 98, 0, 0.2) 0%,
      rgba(255, 226, 0, 0.2) 10%,
      rgba(69, 255, 0, 0.2) 20%,
      rgba(0, 211, 99, 0.2) 30%,
      rgba(53, 167, 160, 0.2) 40%,
      rgba(43, 70, 136, 0.2) 50%,
      rgba(56, 22, 193, 0.2) 60%,
      rgba(183, 15, 212, 0.2) 70%,
      rgba(234, 8, 104, 0.2) 80%,
      rgba(255, 0, 0, 0.2) 90%,
      rgba(255, 98, 0, 0.2) 100%
    );
  }

  100% {
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.2) 0%,
      rgba(255, 98, 0, 0.2) 10%,
      rgba(255, 226, 0, 0.2) 20%,
      rgba(69, 255, 0, 0.2) 30%,
      rgba(0, 211, 99, 0.2) 40%,
      rgba(53, 167, 160, 0.2) 50%,
      rgba(43, 70, 136, 0.2) 60%,
      rgba(56, 22, 193, 0.2) 70%,
      rgba(183, 15, 212, 0.2) 80%,
      rgba(234, 8, 104, 0.2) 90%,
      rgba(255, 0, 0, 0.2) 100%
    );
  }
}
